<h1>Stupid coaching</h1>
<figure class="blockquote d-flex p-3 mt-3">
  <div class="vr" style="width: 3px;"></div>
  <div class="ms-3">
    <blockquote class="blockquote d-flex">
      <%= @question %>
    </blockquote>
    <figcaption class="blockquote-footer">
      You
    </figcaption>
  </div>
</figure>
<figure class="blockquote bg-warning-subtle d-flex p-3 mt-3">
  <div class="vr" style="width: 3px;"></div>
  <div class="ms-3">
    <blockquote>
      <%= @answer %>
    </blockquote>
    <figcaption class="blockquote-footer">
      Your coach
    </figcaption>
  </div>
</figure>
